@import '../../../shared/layout/variables.scss';
.layout-candidate {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  &__navigate-bar {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    padding: 0 20px;
    z-index: 10;
    background: white;
    border-bottom: 0.3px solid #ebf0f5;

    .navigate-bar-left {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      gap: 40px;

      .header-logo {
        cursor: pointer;
        height: 60px;
        img {
          margin-top: 3px;
          height: 50px;
        }
      }

      .header-item {
        height: 50px;
        display: flex;
        align-items: center;
        font-size: 15px;
        font-weight: 500;
        cursor: pointer;
      }
    }

    .navigate-bar-right {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 15px;
      margin-right: 15px;

      &__icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #d0ebdc;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $primaryColor;
        cursor: pointer;
      }

      &__avatar {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        display: flex;
        cursor: pointer;

        img {
          width: 40px;
          height: 40px;
          object-fit: cover;
          border-radius: 20px;
        }
      }

      .navbar-menu {
        position: absolute;
        top: 40px;
        right: 0;
        padding-top: 10px;

        .container-option {
          width: 400px;
          border-radius: 10px;
          background: $whiteColor;
          box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.06);
          height: auto;
          display: none;
          flex-direction: column;
          justify-content: start;
          align-items: start;
          z-index: 10;
          padding: 16px;
          gap: 30px;

          .profile-image-group {
            display: flex;
            flex-direction: row;
            width: 100%;
            gap: 15px;
            position: relative;

            &__image {
              width: 40px;
              height: 40px;
              border-radius: 20px;
              display: flex;
              cursor: pointer;

              img {
                width: 40px;
                height: 40px;
                object-fit: cover;
                border-radius: 20px;
              }
            }

            &__infor {
              display: flex;
              flex-direction: column;
              justify-content: start;
              align-items: start;
              gap: 8px;

              .user-name {
                color: #00b14f;
                font-size: 14px;
                font-weight: 600;
                line-height: 20px;
              }

              .user-id {
                color: #6f7882;
                font-size: 14px;
                font-weight: 400;
                line-height: 16px;
              }

              .user-email {
                color: #6f7882;
                font-size: 14px;
                font-weight: 400;
                line-height: 16px;
              }
            }

            &::after {
              background: #e9eaec;
              bottom: -22px;
              content: '';
              height: 1px;
              left: 0;
              position: absolute;
              width: 100%;
            }
          }

          .item-option-group {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            gap: 8px;

            .item-option-group__item {
              width: 100%;
              background: #f1f1f6;
              border-radius: 6px;
              position: relative;
              color: #212f3f;
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 15px;
              font-size: 14px;
              font-weight: 500;
              line-height: 20px;
              padding: 14px;

              &:hover {
                color: #00b14f;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }

  .content-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
