@import '../../../shared/layout/variables.scss';
.item {
	border-radius: 5px;
	padding: 14px 16px;
	width: 100%;
	background-color: $primaryColor;
	.quantity {
		color: white;
		font-size: 24px;
		font-style: normal;
		font-weight: 700;
		line-height: 32px;
		margin-bottom: 8px!important;
	}

	.title {
		color: white;
		font-size: 12px;
		font-style: normal;
		font-weight: 500;
		line-height: 16px;
	}

}
