$primaryColor: #00b14f;
$secondColor: #74d86b;
$whiteColor: #ffffff;
$grayColor1: #7f878f;
$borderGreen: #33c172;
$grayBackground: #f3f5f7;
$chartColor1: rgb(17, 215, 105);
$chartColor2: rgb(48, 138, 255);
$chartColor3: rgb(218, 131, 0);
$chartColor4: rgb(28, 255, 241);
$chartColor5: rgb(255, 231, 0);

$dividerColor: #e7e1e1;
$fontSizeButtonSubmit: 16px;

@mixin form-input-group {
  &__label {
    font-size: 15px;
    font-weight: 400;
    color: $grayColor1;
  }

  &__input {
    width: 100%;
    border: 1px solid #adb5bd;
    height: 40px;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
    gap: 25px;

    &:focus-within {
      border: 1px solid $primaryColor;
    }

    input {
      height: 38px;
      width: 100%;
      border: none;
      border-radius: none;
      font-size: 15px;
      font-weight: 400;

      &:focus {
        border: none;
        outline: none;
        font-size: 15px;
        text-decoration: none;
      }
    }
  }
}

@mixin button-arrow {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 1px solid $secondColor;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .icon-arrow {
    font-size: 20px;
    color: $secondColor;
  }

  &:hover {
    background: $secondColor;
  }

  &:hover .icon-arrow {
    color: $whiteColor;
  }
}
