@import '../../../../shared/layout/variables.scss';
.section-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f1f1f6;
  padding-bottom: 45px;

  .section-content-group {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    &__content {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
      gap: 24px;

      .section-left-group {
        margin-top: 24px;
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        background: $whiteColor;
        border-radius: 8px;
        gap: 24px;
        height: -moz-fit-content;
        height: fit-content;
        padding: 20px 24px;

        &__title {
          border-left: 6px solid #00b14f;
          color: #212f3f;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          letter-spacing: -0.2px;
          line-height: 28px;
          margin: 0;
          padding-left: 10px;
        }

        &__description {
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;
          gap: 10px;

          .title {
            color: #212f3f;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            margin: 0;
          }

          .content-group {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;

            .content {
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              margin-left: 24px;
              gap: 8px;

              span {
                color: #212f3f;
                font-size: 15px;
                font-weight: 400;
              }
            }
          }
        }

        .btn-apply-group {
          display: flex;
          flex-direction: row;
          justify-content: start;
          align-items: center;
          gap: 15px;

          .apply-btn {
            align-items: center;
            background: #00b14f;
            border: unset;
            border-radius: 6px;
            color: #fff;
            display: flex;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            height: 40px;
            justify-content: center;
            letter-spacing: 0.175px;
            line-height: 22px;
            padding: 8px 16px;

            &:hover {
              background: #009643;
              cursor: pointer;
            }
          }

          .apply-btn-ed {
            align-items: center;
            background: #ffffff;
            border: unset;
            border-radius: 6px;
            color: #00b14f;
            display: flex;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            height: 40px;
            justify-content: center;
            letter-spacing: 0.175px;
            line-height: 22px;
            padding: 8px 16px;
            border: 1px solid #00b14f;
          }

          .save-btn {
            align-items: center;
            background: #fff;
            border: 1px solid #00b14f;
            border-radius: 6px;
            color: #00b14f;
            display: flex;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            height: 40px;
            justify-content: center;
            letter-spacing: 0.175px;
            line-height: 22px;
            padding: 8px 16px;
            width: 118px;

            &:hover {
              cursor: pointer;
              border: 1px solid #009643;
            }
          }
        }

        &__other-jobs {
          width: 100%;

          .list-other-jobs {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            gap: 16px;
            margin-top: 24px;
          }
        }
      }

      .section-right-group {
        padding-top: 24px;
        width: 30%;
        display: flex;
        flex-direction: column;
        gap: 24px;

        &__summary {
          background: $whiteColor;
          padding: 20px;
          border-radius: 8px;
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;
          gap: 24px;

          .title {
            color: #212f3f;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            letter-spacing: -0.2px;
            line-height: 28px;
            margin: 0;
          }

          .item-group {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            gap: 20px;

            &__infor-item {
              display: flex;
              flex-direction: row;
              justify-content: start;
              align-items: center;
              gap: 16px;

              .icon-container {
                align-items: center;
                background: #00b14f;
                border-radius: 30px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                height: 45px;
                justify-content: center;
                padding: 10px;
                width: 45px;
              }

              .title-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                gap: 5px;

                .title {
                  text-align: left;
                  color: #4d5965;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 400;
                  letter-spacing: 0.14px;
                  line-height: 22px;
                }

                .subtitle {
                  color: #212f3f;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 600;
                  letter-spacing: 0.175px;
                  line-height: 22px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 75em) {
  .section-content-group {
    width: 1185px;
  }
}

@media only screen and (min-width: 62em) and (max-width: 75em) {
  .section-content-group {
    width: 970px;
  }
}

@media only screen and (min-width: 48em) and (max-width: 62em) {
  .section-content-group {
    width: 750px;
  }
}
